<h1>Theaters</h1>
<% @theaters.each do |theater| %>
  <h3><%= theater.name %></h3>
  <p>Location: <%= theater.location %></p>
  <p>Hours: <%= theater.hours %></p>
  <p>Matinee: <%= theater.matinee %></p>
<% end %>